<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRemindersUsageDescription</key>
	<string>Phone health would like to request reminders access</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Phone health would like to request calender access</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Phone health would like to request gallery access</string>
	<key>NSCameraUsageDescription</key>
	<string>Phone health would like to use your camera</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
